
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
  border-bottom: 1px solid #7d7f83;
  background-color: #FFFFFF;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
  height: auto;
}


.logo span {
  font-size: 20px;
  font-weight: 600;
  color: #1f2937;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #374151;
  font-weight: 500;
}

nav a:hover {
  color: #3A6B97;
}

.auth-buttons {
  display: flex;
  gap: 12px;
}

.auth-buttons .login {
  background-color: transparent;
  border: 1px solid #cbd5e1;
  padding: 8px 18px;
  border-radius: 6px;
  color: #437199;
  cursor: pointer;
}

.auth-buttons .signup {
  background-color: #4A7BA7;
  border: none;
  color: #fff;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.auth-buttons .login:hover {
  border-color: #3A6B97;
  color: #3A6B97;
}

.auth-buttons .signup:hover {
  background-color: #3A6B97;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px;
  gap: 50px;
}

.hero-text {
  max-width: 550px;
}

.hero-text .tag {
  display: inline-block;
  background-color: #e0f2fe;
  color: #3A6B97;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 20px;
}

.hero-text .title1,
.hero-text .title2 {
  font-size: 48px;
  font-weight: 700;
}

.hero-text .title2 {
  margin-bottom: 20px;
}


.hero-text p {
  font-size: 16px;
  color: #4b5563;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}

.primary {
  background-color: #4A7BA7;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.primary:hover {
  background-color: #3A6B97;
}

.secondary {
  background-color: transparent;
  border: 1px solid #cbd5e1;
  color: #4A7BA7;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.secondary:hover {
  border-color: #3A6B97;
  color: #3A6B97;
}

/* Stats */
.stats {
  display: flex;
  gap: 40px;
}

.stat h3 {
  color: #4A7BA7;
  font-size: 24px;
  font-weight: 700;
}

.stat p {
  color: #6b7280;
  font-size: 14px;
}

/* Hero Image */
.hero-image img {
  width: 480px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* Responsive */
@media (max-width: 1000px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 40px;
  }

  .hero-text {
    max-width: 100%;
  }

  .hero-image img {
    width: 100%;
    max-width: 400px;
  }

  .navbar {
    flex-direction: column;
    gap: 15px;
    padding: 20px 40px;
  }
}
